
    body{
        font-family: Consolas, 'Courier New', '나눔고딕', '맑은 고딕', monospace;    
/*        position: relative;*/
          
/*          background-size: cover;*/
/*          background-attachment: fixed;*/
    }
    #all::after{content: ""; display: block; clear: both;}
    #all{
        border: 5px solid black;
        background: url(heart2.png);
    }
    #leftwrap{
        float: left;
/*        border: 2px solid blue;*/
/*        margin-left: 20px;*/
        display: inline-block;
        height: 800px;
/*        width:240px;*/
        position: fixed;
    }
    #leftwrap img{
        margin-left: 20px;
        margin-top: 5px;
        border: 0.5px solid black;
    }

    #wrap{ /*헤더 컨테이너 푸터 감싼 랩*/
        float: left;
/*        position: absolute;*/
        margin-left:210px;
/*        margin-right: 160px;*/
/*        position: absolute;*/
/*        left: 200px;*/
        width: 1150px;
/*        margin: auto;*/
/*        margin-top: 30px;*/
        border: 2px dotted pink;
/*        box-sizing: border-box;*/
        
    }
    #wrap:after{content: ""; display: block; clear: both;}
    #rightbar{
        position: fixed;
        display: inline-block;
        border: 1px solid black;
        margin-left: 50px;
        width: 50px;
        height: 300px;

    }
    #page_header{content: ""; display: block; clear:both;}
    #page_header{
        /*이거 공간 하나도 차지안함 작업할때 다시 보더 켜고 해야함*/
/*        position: fixed;*/
/*        border: 2px solid black;*/
        width: 1150px;
/*        background: url(baloon.jpg);*/
/*        background-size:cover;*/
        height: 70px;
    }
    #nav_right::after{content:""; display:block; clear:both;}
    #nav_right { /*로긴 마이페이지 멤버쉽 검색창*/  
        float: right;
        z-index: 1;        
        width: 510px;
/*        height: 100px;*/
/*        border: 1px solid red;*/
        color: #BDBDBD;
        display: inline-block;
/*        margin-top: 10px;*/
/*        margin-left: 620px;*/
/*        padding-top: 5px;*/
/*        margin-top: 400px;        */
    }
    #nav_right > ul{ /*로그인 홈 멤버쉽메뉴 감싼 부모*/
        float: left; 
/*로그인 홈 멤버쉽메뉴 전부 왼쪽정렬 후 가상요소 추가시 이 ul테두리가 
        li(로그인 홈 멤버쉽메뉴를 자식취급하고 감싼다)*/
/*        border: 1px solid black;  */
        width: 230px;
        margin-top: 10px;
        
    }
/*로그인 홈 멤버쉽메뉴를 감싸기위해 추가*/
    #nav_right >ul::after {content: '';	display: block; clear: both;}
    #nav_right > ul{       
/*        margin-left: 15px; 
        /*원래대로 오른쪽으로 밀어내기 맞음 헷갈리면 안됨*/
    }
    #nav_right > ul > li  {
        float: left;
        display: block;

        /*이걸 써서 로긴 마이페이지 멤버쉽 사이 간격을 줄여 하나로 만듬*/
        
    }    
    #nav_right > ul > li > a{
        padding: 0 7px; /*로그인 홈 멤버쉽메뉴 간격*/
        text-decoration: none;
        width: 10px;
        color: orange;
        font-size: 10.5pt; 
/*        border: 1px solid red;        */
/*        padding: 0 8px;*/
        margin-left: 10px;
        text-shadow: 5px 5px 4px #BDBDBD;
    }  
        
    #nav_right >input{ /* 검색창*/
/*        font-size: 10pt;*/
        float:left;
        height: 35px;
        margin-left: 11px;
        border-radius: 3px;
        border: 1px dotted gray;
    }
    #nav_right  img{
        margin-top:5px; 
/*        검색 장바구니 주문조회아이콘 살짝 밑으로 내리기*/
    }  
    
    #hashtag{
        float: right;
        position: relative;
        margin-left: 310px;
        margin-top: 15px;
/*        display:inline-block;*/
/*        border:1px solid green;*/
        width: 190px;
        overflow: hidden;
    }
    #slide::after{ content: ""; display: block; clear: both;}
    #slide {        
/*        border: 1px solid red;*/
        width: 680px;

    }
    #slide > li{   
        float: left; 
        /*이게 안되있으면 롤링한번 되고나서 지들끼리 맘대로 붙어버림.무조건써야함*/
        width: 64px;
        text-decoration: none;
        display: inline;
/*        border: 1px solid black;*/
        background-color: #FFBB00;
        color: #353535;
        font-size: 12pt;
        letter-spacing: 1.5px;
        margin-left:1px;
        
    }
    #nav::after{
        content: "";
        display: block;
        clear: both;
    }    
    #nav{        
        z-index: 4;
/*        border: 5px solid orange;         */
        width: 1150px;
        position: absolute; 
        /*앱솔루트 줘야 드랍다운 position:fixed가능케함*/
/*        height: 150px;        */
/*        margin-top: -80px; */
/*        마진탑에 마이너스 줘서 올려버렸다  */            
        
    }
    #nav > ul::after{
        content: "";
        display: block;
        clear: both;
    }
    #nav > ul { /*메뉴바 의 display 속성 건드려야 할곳*/
/*        margin-top: 95px;*/
        width: 1150px; 
        /* ul너비 정해줘서 메뉴 밑으로 넘어가지 않게 잡아줌*/
/*        border: 1px solid green;*/
        display: inline-block;        
        height: 50px;
/*        padding-top: 20px;        */
        
    }
    #nav > ul > li{
/*        margin: auto;*/
        margin-top: 10px;
/*        float: left;*/
        position: relative; 
        /*반드시 여기에 걸어줘주고 드랍다운가서 absolute 걸어줘야 하위메뉴 나옴*/
        display: inline-block;
        font-size: 14.1pt; /*pt px em percent로 표현*/
        font-weight: bold;
        margin-left: 60px;
/*        border: 1px solid black;*/
        
/*        padding-left: 1px; */
        /*메뉴바들의 간격*/
/*        border: 1px solid black;*/
        text-shadow: 1px 1.5px 3px #D5D5D5;
    }
    #nav > ul > li > a{  
/*        border: 1px solid black;*/
        text-decoration: none; /*a태그때문에 밑줄 생긴것 제거*/
        color:#FF8224;        
        text-indent: 2px;
/*        padding-left: 10px;*/
        
    }
    #nav > ul > li > a:hover{        
        transition:1s;
        text-decoration:underline;
        color: black;
        
    }
     
    #nav.fixed {            /*add class*/
        position: fixed;        
        bottom:715px;
    
    /*이것이 관건이다 고정시키기 전의 상황과 같은 위치좌표를 적으면 됨*/

    }
    .dropdown{
        z-index: 10;
        display: none;
        margin-top: 5px;        
        position: absolute;  /*nav ul li 안에 relative 걸어주는게 먼저.*/
/*        border: 1px solid black;        */
/*        text-align: left;*/
/*        right: 1px;  */
        font-size: 11pt;  
        line-height: 15px;        
    }
    .dropdown > li > a {
        text-decoration: none;
/*        display: block;*/
            color: orange;   
        font-size: 11pt;     
    }
    .dropdown > li > a:hover{
        text-decoration-color: aqua;
        color: red;
    }
    #container::after{
        content: "";
        display: block;
        clear: both;
}
    #container{
        float: left;
        margin-top: 10px;
        width: 1150px;
/*        border: 10px solid aqua;*/
    }

    
    #container01{        
        float: left;
        /*대문짝 메인이미지 컨테이너*/
        width: 1150px;
        height: 500px;
/*        border: 5px solid purple;        */
        overflow: hidden;
        /*사진덮고있는 가장 상위 요소에 걸어줘야함*/
    }
/*    .main_img:after{ content: ""; display: block; clear: both;}*/
    .main_img{  /*대문짝 메인이미지*/
        width: 4600px; 
        /*사진들 전체 규격, 옆으로 늘어뜨려놔야함*/
        height: 500px;
        float: left;  
        
/*        opacity: 0.9;*/
        
    }
    .main_img > li {
        float: left;
        width: 1150px;
    }
    #banner_set::after{
        content: "";
        display: block;
        clear: both;
    }
    #banner_set{
/*        border: 0.5px dotted red;*/
        float: left;
        width: 1150px;
        
        
    }
    
    
   
    #footer::after{content:""; display: block; clear: both;}
    #footer{
        
/*        float: left;*/
/*        position: absolute;*/
/*        margin-top: 2200px; */
        /*푸터 위에 컨텐츠영역 더 넣을경우 쓸것*/       
/*        clear: both;*/
        /*클리어 보스가 있어야 쉽게 한 라인을 2갈래로 나눌수 있다.*/
        width: 1150px;
        height: 120px;  
        /* 푸터 높이 120이 적당 회색 배경으로 표시*/
        border: 0.5px dotted pink;            
                 
    }
/*
    #footer > ul{
        text-align: left;
    }
*/
/*    #footer:after{content: "";display: block;clear: both;}*/
    #footer > ul > #left1{       
        /*포지션 고정시키기 */
        display: inline-block;
        width: 799px;
/*        border: 0.5px solid red;*/
        height: 111px;
/*        float: left;*/
        padding-top:8px;
        padding-left: 15px;
        background-color: #F6F6F6;
        
        
/*        width: 650px;                */
/*        margin-left :18px;*/
        color: black;
        font-size: 10pt;
        line-height: 18px;
/*        white-space: normal;*/
    }
    #footer > ul > #right1{
        border: 0.5px dotted pink;
        float: right;
/*        width: 350px;              */                
    }   
    strong{
        font-size: 12pt;
        font-weight: bold;
    }
    b{
/*        color: #747474;*/
        font-weight: bolder;
    }
/*
    #footer2{    
        margin-top: 100px;
        border: 3px solid green;
        height: 300px;       
    }
*/ 
   
