
    body{
        font-family: Consolas, 'Courier New', '나눔고딕', '맑은 고딕', monospace;    
/*        position: relative;*/
          background: url(heart2.png);
/*          background-size: cover;*/
/*          background-attachment: fixed;*/
    }
    #leftwrap{
        float: left;
        position: fixed;
/*        border: 1px solid black;*/
        width: 330px;
        height: 800px;
        left: 25px;
        top: 10px;
/*        border: 1px solid black;*/
    }
    #logo{
        margin-top: 10px;
        
    }
    #logo > a{
/*        border: 1px solid black;*/
        width: 233px;
        height: 40px;
        margin-left: 30px;
        margin-top: 25px;
         /*margin에 same for all 없애고 쓴것*/    
    }    
    #left{   /*왼쪽에 뉴스피드 컨테이너*/           
        overflow: hidden;
        border: 5px solid black;
/*        margin-left: 20px;*/
        position: absolute;
/*        display: inline-block;*/
        width: 240px;
        height: 125px;
        top: 153px;               
/*            text-align:center;*/
                
    }
    #newsfeed{ /*BEST KEYWORD 이미지나 글자넣어야하는곳*/
        height: 60px;
/*        text-align: center;*/
        color: black;      
        font-size: 14pt;
        text-shadow: 5px 5px 4px #BDBDBD;
        line-height: 60px;
        font-weight: bold;
    }  
    
    #rollingbox{ /*롤링되는 글자div*/
        overflow: hidden;
/*        border: 2px dotted #FFE400;         */
        height: 55px;
    }
    #rolling{
/*        border: 5px solid red;   */
        position: relative;  /* 뉴스피드의 주 축이 되는 div다 반드시 걸어야함*/
/*        top: 0;*/
/*        background-color: #FAECC5;*/
    }
   
    #rolling > li{ /* 1~13위뉴스피드 폰트관한건 여기다 작성*/
/*        border: 1px solid black;*/
        font-weight: bold;
        font-size: 11pt;
        text-shadow: 1px 1px 3px #BDBDBD;
        line-height: 3.5em;
        padding-left: 10px;
        letter-spacing: -1px;
/*        font-family: 'aparajitabold';*/
        color: orange;       
        
    }
/*
    #rolling.up { 
            transition: 1s;
            top: 3.5em;
        }
*/
    num{
        font-size: 1.5em;
        color:#FF5E00;
        font-weight: bold;
        text-shadow: 0 0 2px #FFBB00;
    }
    #recent_cf{
/*        margin-left: 10px;*/
/*        position: absolute; */
        /*특별한것이 없는한 무조건 static 걸어서 순서대로 배치 시키자*/
        margin-top: 315px;
        border: 1px solid red;        
               
    }
    #recent_cf h2{ /* RECENT CF글자 컨테이너*/
/*        border: 5px solid green;*/
        margin-top: 10px;
        padding-bottom: 20px;
        
    }
    #recent_cf > .cf{
        text-shadow: 5px 5px 4px #BDBDBD;
/*        text-align: center;*/        
        margin-top: 10px;
    }
    h2.cf >a {
        text-decoration: none;
        font-family: 'aparajitabold';
        font-weight: bold;
        font-size: 13pt;
        color: black;
        margin-top: 50px;
        letter-spacing: 1px;
        }

    #wrap{ /*헤더 컨테이너 푸터 감싼 랩*/
        float: right;
        margin-right: 160px;
        position: relative;
        width: 1000px;
/*        margin: auto;*/
/*        margin-top: 30px;*/
        border: 2px dotted green;
/*        margin:  auto;   화면 중앙에 배치*/        
    }
    #wrap:after{
        content: "";
        display: block;
        clear: both;    
    }
    #page_header{
        content: "";
        display: block;
        clear:both;
    }
    #page_header{
        /*이거 공간 하나도 차지안함 작업할때 다시 보더 켜고 해야함*/
        position: relative;
        border: 2px solid black;
        width: 1000px;
/*        background: url(baloon.jpg);*/
/*        background-size:cover;*/
        height: 190px;
    }
    #nav_right::after{
        content:"";
        display:block;
        clear:both;
    }
    #nav_right { /*로긴 마이페이지 멤버쉽 검색창*/  
        float: left;
        z-index: 1;        
        position: absolute;
        width: 510px;
/*        height: 100px;*/
        border: 1px solid red;
        color: #BDBDBD;
        display: inline-block;
        margin-top: 10px;
        margin-left: 620px;
/*        padding-top: 5px;*/
/*        margin-top: 400px;*/        
    }
    #nav_right > ul{ /*로그인 홈 멤버쉽메뉴 감싼 부모*/
        float: left; 
/*로그인 홈 멤버쉽메뉴 전부 왼쪽정렬 후 가상요소 추가시 이 ul테두리가 
        li(로그인 홈 멤버쉽메뉴를 자식취급하고 감싼다)*/
        border: 1px solid black;  
        width: 230px;
        margin-top: 10px;
        
    }
    #nav_right >ul::after { /*로그인 홈 멤버쉽메뉴를 감싸기위해 추가
					content: '';
					display: block;
					clear: both;
    }
    #nav_right > ul{       
/*        margin-left: 15px; */
        /*원래대로 오른쪽으로 밀어내기 맞음 헷갈리면 안됨*/
    }
    #nav_right > ul > li  {
        float: left;
        display: block;

        /*이걸 써서 로긴 마이페이지 멤버쉽 사이 간격을 줄여 하나로 만듬*/
        
    }
    
    #nav_right > ul > li > a{
        padding: 0 7px; /*로그인 홈 멤버쉽메뉴 간격*/
        text-decoration: none;
        width: 10px;
        color: orange;
        font-size: 10.5pt; 
        border: 1px solid red;        
/*        padding: 0 8px;*/
        margin-left: 10px;
        text-shadow: 5px 5px 4px #BDBDBD;
    }
    
        
    #nav_right >input{ /* 검색창*/
/*        font-size: 10pt;*/
        float:left;
        height: 35px;
        margin-left: 11px;
        border-radius: 3px;
        border: 1px dotted gray;
    }
    #nav_right  img{
        margin-top:5px; 
/*        검색 장바구니 주문조회아이콘 살짝 밑으로 내리기*/
    }
    
    
    #hashtag{
        float: right;
        position: relative;
        margin-left: 310px;
        margin-top: 15px;
/*        display:inline-block;*/
/*        border:1px solid green;*/
        width: 190px;
        overflow: hidden;
    }
    #slide::after{ content: ""; display: block; clear: both;}
    #slide {        
/*        border: 1px solid red;*/
        width: 680px;

    }
    #slide > li{   
        float: left; /*이게 안되있으면 롤링한번 되고나서 지들끼리 맘대로 붙어버림.무조건써야함*/
        width: 64px;
        text-decoration: none;
        display: inline;
/*        border: 1px solid black;*/
        background-color: #FFBB00;
        margin-left: 1px;
        color: #353535;
        font-size: 12pt;
        letter-spacing: 1.5px;
        
    }
    #nav::after{
        content: "";
        display: block;
        clear: both;
    }    
    #nav{        
        z-index: 4;
        border: 5px solid orange; 
        float: left;
/*        width: 800px;*/
/*        position: absolute;*/
/*        height: 150px;        */
        margin-top: -80px; 
/*        마진탑에 마이너스 줘서 올려버렸다  */
               
        
    }
    #nav > ul::after{
        content: "";
        display: block;
        clear: both;
    }
    #nav > ul { /*메뉴바 의 display 속성 건드려야 할곳*/
/*        margin-top: 95px;*/
        width: 1000px; 
        /* ul너비 정해줘서 메뉴 밑으로 넘어가지 않게 잡아줌*/
/*        border: 1px solid green;*/
        display: inline-block;        
        height: 50px;
        padding-top: 20px;
        
    }
    #nav > ul > li{
        margin-top: 20px;
/*        float: left;*/
        position: relative; 
        /*반드시 여기에 걸어줘주고 드랍다운가서 absolute 걸어줘야 하위메뉴 나옴*/
        display: inline-block;
        font-size: 13.1pt; /*pt px em percent로 표현*/
        font-weight: bold;
        margin-left: 45px;
/*        border: 1px solid black;*/
        
/*        padding-left: 1px; */
        /*메뉴바들의 간격*/
/*        border: 1px solid black;*/
        text-shadow: 1px 1.5px 3px #D5D5D5;
    }
    #nav > ul > li > a{           
/*        border: 1px solid black;*/
        text-decoration: none; /*a태그때문에 밑줄 생긴것 제거*/
        color:orange;        
        text-indent: 2px;
/*        padding-left: 10px;*/
        
    }
    #nav > ul > li > a:hover{        
        transition:1s;
        text-decoration:underline;
        color: black;
        
    }
     
    #nav.fixed {            /*add class*/
        position: fixed;        
        bottom: 680px;    
    
    /*이것이 관건이다 고정시키기 전의 상황과 같은 위치좌표를 적으면 됨*/

    }
    .dropdown{
        z-index: 10;
        display: none;
        margin-top: 5px;        
        position: absolute;  /*nav ul li 안에 relative 걸어주는게 먼저.*/
/*        border: 1px solid black;        */
/*        text-align: left;*/
/*        right: 1px;  */
        font-size: 11pt;  
        line-height: 15px;        
    }
    .dropdown > li > a {
        text-decoration: none;
/*        display: block;*/
            color: orange;   
        font-size: 11pt;     
    }
    .dropdown > li > a:hover{
        text-decoration-color: aqua;
        color: red;
    }
    #container::after{
        content: "";
        display: block;
        clear: both;
}
    #container{
/*        float: left;*/
        position:absolute;
        margin-top: 25px;       
        width: 1000px;
/*        border: 10px solid aqua;*/
    }

    
    #container01{ 
       
        float: left;
        /*대문짝 메인이미지 컨테이너*/
        margin-top: 10px;
        width: 1000px;
        height: 414px;
        border: 5px solid purple;        
        overflow: hidden;
        /*사진덮고있는 가장 상위 요소에 걸어줘야함*/
    }
/*    .main_img:after{ content: ""; display: block; clear: both;}*/
    .main_img{  /*대문짝 메인이미지*/
        width: 4000px; /*사진들 전체 규격, 옆으로 늘어뜨려놔야함*/
        height: 414px;
        float: left;  
        
/*        opacity: 0.9;*/
        
    }
    .main_img > li {
        float: left;
        width: 1000px;
    }
    #banner_set::after{
        content: "";
        display: block;
        clear: both;
    }
    #banner_set{
        border: 5px solid red;
        float: left;
        
    }
    
    
   
    #footer::after{content:""; display: block; clear: both;}
    #footer{
        
/*        float: left;*/
/*        position: absolute;*/
        margin-top: 2200px; 
        /*푸터 위에 컨텐츠영역 더 넣을경우 쓸것*/       
/*        clear: both;*/
        /*클리어 보스가 있어야 쉽게 한 라인을 2갈래로 나눌수 있다.*/
        width: 1000px;
        height: 120px;  
        /* 푸터 높이 120이 적당 회색 배경으로 표시*/
        border: 1px solid black;            
                 
    }
/*
    #footer > ul{
        text-align: left;
    }
*/
/*    #footer:after{content: "";display: block;clear: both;}*/
    #footer > ul > #left1{       
        /*포지션 고정시키기 */
        display: inline-block;
        width: 649px;
/*        border: 0.5px solid red;*/
        height: 111px;
/*        float: left;*/
        padding-top:8px;
        padding-left: 15px;
        background-color: #F6F6F6;
        
        
/*        width: 650px;                */
/*        margin-left :18px;*/
        color: black;
        font-size: 10pt;
        line-height: 18px;
/*        white-space: normal;*/
    }
    #footer > ul > #right1{
/*        border: 0.5px solid black;*/
        float: right;
/*        width: 350px;              */                
    }   
    strong{
        font-size: 12pt;
        font-weight: bold;
    }
    b{
/*        color: #747474;*/
        font-weight: bolder;
    }
/*
    #footer2{    
        margin-top: 100px;
        border: 3px solid green;
        height: 300px;       
    }
*/ 
   
